/* App.css */


@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the viewport height to cover the entire screen vertically */
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  body {
    background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Optional: To fix the background image */
  }
  
  
